img {
  width: 25%;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  width: 18%;
  height: 200px;
  display: inline-block;
  padding: 5px;
  margin: 25px;
  height: 30%;
  margin-bottom: 15px !important;
}

.container img {
  width: 85%;
  height: 80%;
  position: relative;
  left: 20%;
  opacity: 1;
  display: inline-block;
  transition: .5s ease-in-out;
  backface-visibility: hidden;
}

.captionNews {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 20%;
}

.container:hover img {
  opacity: 0.3;
  border: 1px solid #777;
  box-shadow: 0 0 2px 1px #777;
}

.container:hover .captionNews {
  opacity: 1;
}

.text {
  background-color: var(--backgroundgrey);
  color: #fff;
  font-size: 150%;
  padding: 10% 20%;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.searchBar {
  position: absolute;
  top: 5% !important;
  left: 80%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 20px;
  border-radius: 40px;
  padding: 10px;
}

.searchBar:hover>.searchText {
  width: 220px;
  padding: 0 6px;
}

.searchBar:hover>.searchBtn {
  position: absolute;
  top: 13%;
  left: 82%;
  background: white;
  color: var(--maincolor);
  height: 30px;
  width: 30px;
}

.searchBtn {
  color: var(--maincolor);
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
}

.searchBtn>i {
  font-size: 16px;
}

.searchText {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 20px;
  width: 0px;
  font-weight: bold;
}

@media only screen and (max-width:600px) {
  .container {
    width: 60%;
  }

  .captionNews {
    opacity: 1;
  }

  .topnav a:first-child {
    display: block;
    position: relative;
    top: 0 !important;
  }
}
