body {
  background: #fff;
}

main {
  position: relative;
  top: -18px;
}

.options {
  color: #fff;
  float: right;
  display: inline-block;
  position: relative;
  top: -30px;
  right: 15%;
  cursor: pointer;
}

#heart {
  position: relative;
  left: -40%;
}

#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #FFF;
  background-color: var(--backgroundgrey);
  padding: 20px 0;
  height: 150px;
  font-size: 120%;
  word-spacing: 0.5px;
  letter-spacing: 0.5px;
  font-family: sans-serif;
  height: 10px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal-content:hover {
  opacity: 1;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 5%;
  right: 10%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: var(--maincolor);
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.sidenav {
  height: 100%;
  height: 88vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--backgroundgrey);
  overflow-x: hidden;
  padding-top: 5%;
  transition: 0.5s;
}

.sidenav a {
  padding: 2%;
  padding-bottom: 10px;
  color: #ddd;
  display: block;
  transition: 0.3s;
  text-decoration: none;
  letter-spacing: 0.7px;
  text-transform: capitalize;
  word-spacing: 0.5px;
  font-size: 125%;
  font-family: sans-serif;
  padding-left: 10%;
}

.sidenav a:hover, .sidenav a:focus {
  color: var(--maincolor);
  background-color: #ddd;
  font-weight: bold;
}

.sidenav a:first-child:hover {
  background-color: inherit;
}

.currentPage {
  color: var(--maincolor) !important;
  font-weight: bold;
}

.closebtn {
  float: right;
  position: relative;
  top: -55px;
  right: 25px;
  font-size: 40px !important;
}

.openbtn {
  font-size: 16px;
  cursor: pointer;
  background-color: var(--backgroundgrey);
  color: white;
  float: left;
  display: inline-block;
  position: relative;
  top: 18px;
  left: 12%;
  border: none;
}

.openbtn:hover {
  color: var(--maincolor);
  font-weight: bold;
}

.previous {
  float: left;
  color: var(--backgroundgrey);
  font-size: 110%;
}

.next {
  float: right;
  color: var(--backgroundgrey);
  font-size: 110%;
}

.previous:hover, .next:hover {
  color: var(--maincolor);
}

@media only screen and (max-width: 600px) {
  .sidenav {
    height: 50vh;
  }

  .closebtn {
    position: absolute;
    top: 5%;
  }
}
