main {
  padding-left: 3.5% !important;
  padding-right: 3.5% !important;
}

main p, li {
  text-align: justify;
  word-spacing: 0.5px;
  letter-spacing: 0.4px;
  line-height: 1.5;
  font-size: 105%;
  font-family: sans-serif;
}

main p::first-letter {
  font-size: 200%;
  color: var(--maincolor);
  text-transform: uppercase;
  font-family: 'Philosopher', sans-serif;
}

a {
  font-family: serif;
}

h1 {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: var(--h1color);
  padding-top: 1%;
}

h2 {
  font-family: 'Lobster Two', cursive;
  color: #7864ed;
}

h3 {
  font-style: italic;
  font-weight: bold;
}

details {
  word-spacing: 0.5px;
  letter-spacing: 0.4px;
  line-height: 1.5;
}

ol {
  word-spacing: 0.5px;
  letter-spacing: 0.4px;
  line-height: 1.5;
  font-style: italic;
  font-weight: bold;
  color: rgba(180, 50, 180, 1);
  font-size: 120%;
}

ul {
  font-style: normal;
  font-weight: normal;
  color: #000;
}

img {
  height: 100%;
  width: 40%;
  margin: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img:hover {
  opacity: 0.8;
}

.uses img {
  float: right;
  clear: right;
  /* display: inline-block; */
  height: 120px;
  width: 220px;
  margin-right: 20%;
  margin-bottom: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.openQuote, #quantumQuote {
  background-color: var(--backgroundgrey);
  padding: 2%;
  color: #fff;
  font-size: 110%;
  text-align: center;
  word-spacing: 0.5px;
  letter-spacing: 0.4px;
  line-height: 1.5;
  font-family: sans-serif;
}

#catExperience {
  background-color: var(--backgroundgrey);
  font-style: italic;
  font-weight: bold;
  font-size: 130%;
  color: var(--maincolor);
}

#quantumQuote {
  font-style: italic;
  font-size: 120%;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
}

#myImg {
  cursor: pointer;
  transition: 0.3s;
  width: 80%;
  max-width: 400px;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #FFF;
  background-color: var(--backgroundgrey);
  padding: 20px 0;
  height: 150px;
  font-size: 120%;
  word-spacing: 0.5px;
  letter-spacing: 0.5px;
  font-family: sans-serif;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal-content:hover {
  opacity: 1;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: var(--maincolor);
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

#closeMeter{
  float: right;
  position: relative;
  right:62%;
  top: -45px;
  font-size: 150%;
}
