.searchBar {
  position: relative;
  top: 7% !important;
  left: 74% !important;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 20px;
  border-radius: 40px;
  padding: 10px;
}

.searchBar:hover>.searchText {
  width: 220px;
  padding: 0 6px;
}

.searchBar:hover>.searchBtn {
  position: absolute;
  top: 13%;
  left: 82%;
  background: white;
  color: var(--maincolor);
  height: 30px;
  width: 30px;
}

.searchBtn {
  color: var(--maincolor);
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
}

.searchBtn>i {
  font-size: 16px;
}

.searchText {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 20px;
  width: 0px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .searchBar {
    display: none;
  }

  #searchBox {
    display: none;
  }

  .searchBar:hover>.searchText {
    display: none;
  }

  .searchBar:hover>.searchBtn {
  display: none;
  }
}
