:root {
  --maincolor: rgba(0, 90, 140, 1);
  --h1color: rgba(0, 90, 140, 1);
  --backgroundgrey: rgba(31, 30, 30, 1);
}

*::selection {
  color: #fff;
  background-color: var(--backgroundgrey);
}

body {
  margin: 0;
  padding: 0;
}

header {
  clear: both;
  background-color: #fff;
  background-color: var(--backgroundgrey);
  margin: 0;
}

.extraNav {
  display: block;
  background-color: var(--maincolor);
  border: 2px outset #ddd;
  padding: 5px;
  margin: 0;
  color: #fff;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
}

#mainQuote {
  display: inline-block;
  text-shadow: 2px;
  text-transform: capitalize;
  font-style: italic;
  font-size: 110%;
  font-family: 'Philosopher', sans-serif;
  text-shadow: 2px 1px var(--backgroundgrey);
}

.log {
  display: inline-block;
  clear: both;
  float: right;
  margin-top: 1.3%;
  margin-right: 6%;
}

.log a {
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
  word-spacing: 0.6px;
  letter-spacing: 0.5px;
  font-size: 110%;
}

#logIn:hover, #signUp:hover {
  font-family: bold;
  word-spacing: 0.6px;
  letter-spacing: 0.5px;
  font-size: 120%;
  font-family: sans-serif;
  text-shadow: 2px 1px var(--backgroundgrey);
}

#nameHome {
  display: inline-block;
  text-align: center;
  position: relative;
  left: 14%;
  word-spacing: 0.5px;
  letter-spacing: 0.5px;
  font-size: 130%;
  font-weight: bold;
  font-family: 'Philosopher', sans-serif;
  text-transform: capitalize;
  text-shadow: 2px 1px var(--backgroundgrey);
}

.searchBar {
  display: inline-block;
  float: right;
}

.topnav .icon {
  display: none;
}

.topnav {
  background-color: var(--backgroundgrey);
  overflow: hidden;
  transition: all 0.5s ease-in;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}

.topnav a {
  float: left;
  display: block;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 100%;
  position: relative;
  left: 32%;
  border-left: 1.5px solid #aaa;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.5px;
}

.topnav a:first-child {
  border-left: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: #000;
  font-size: 100%;
  font-weight: bold;
}

.topnav a.active {
  background-color: var(--maincolor);
  color: #fff;
}

main {
  position: relative;
  background-color: #fff;
  padding-left: 16%;
  padding-top: 0;
  padding-bottom: 0;
}

.half {
  width: 55%;
  margin-right: 2%;
  display: block;
  float: left;
  transition: transform 2s ease-in-out;
  margin-top: 20px;
}

.half:hover {
  transform: scale3d(1.2, 1.2, 2);
}

.FirstPost {
  display: inline-block;
  margin-right: 2%;
  float: left;
  height: 400%;
  width: 40%;
  padding: 5px;
  background-image: url(../Media/Drug.png);
  background-position: center;
  background-size: 50%;
  background-repeat: repeat;
  margin-left: 15px;
  text-align: center !important;
}

.FirstPost h1, .SecondPost h1, .ThirdPost h1 {
  color: #fff;
  text-align: center;
  padding-top: 100px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 150%;
  font-weight: 360;
  text-transform: capitalize;
}

.FirstPost h1::first-letter, .SecondPost h1::first-letter, .ThirdPost h1::first-letter {
  font-family: 'Philosopher', sans-serif;
}

.FirstPost a, .SecondPost a, .ThirdPost a {
  text-decoration: none;
}

.FirstPost a:hover, .SecondPost a:hover, .ThirdPost a:hover {
  transform: scale(2, 3);
}

.SecondPart {
  float: left;
  width: 50%;
  height: 400%;
}

.SecondPost {
  display: block;
  height: 50%;
  padding: 5px;
  background-image: url(../Media/Space3.png);
  background-position: center;
  background-size: 110%;
  padding: 5px;
  margin-bottom: 10px;
}

.ThirdPost {
  display: block;
  float: left;
  height: 50%;
  background-image: url(../Media/DNA.jpg);
  background-position: center;
  background-size: 134%;
}

.news {
  border: 1px double #aaa;
}

.news a {
  font-size: 150%;
  font-weight: bold;
}

.news a:hover {
  text-decoration: underline;
  color: var(--maincolor);
}

.More h1 {
  clear: both;
  color: var(--maincolor);
  text-shadow: 1px 1px var(--backgroundgrey);
  font-size: 200%;
  font-family: sans-serif;
  margin: 2%;
  margin-bottom: 1px;
}

.More ::first-letter {
  font-family: 'Philosopher', sans-serif;
  font-size: 110%;
}

.btn a {
  color: rgb(50, 150, 200);
  color: rgb(50, 150, 210);
  color: #025fc6;
  color: #888;
  text-decoration: none;
}

.myBtn {
  display: none;
  position: fixed;
  bottom: 12%;
  left: 90%;
  z-index: 99;
  cursor: pointer;
}

.myBtn:hover {
  color: var(--maincolor);
}

.myBtn:active {
  color: var(--maincolor);
}

#myBtnH {
  display: none;
  position: fixed;
  bottom: 12%;
  left: 90%;
  z-index: 99;
  cursor: pointer;
}

#myBtnH:hover {
  color: var(--maincolor);
}

#myBtnH:active {
  color: var(--maincolor);
}

footer {
  clear: both;
  background-color: #fff;
  color: #444;
  background-color: var(--backgroundgrey);
}

@media only screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a {
    border-left: none;
    margin-left: 10%;
  }

  .topnav a:first-child {
    display: block;
    position: relative;
    top: 10px;
  }

  .topnav a.icon {
    display: block;
    color: #fff;
    position: relative;
    left: 20%;
  }

  .topnav.responsive {
    position: relative;
    width: 100%;
    left: -60px;
  }

  .topnav.responsive a.icon {
    position: relative;
    top: 2%;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding-left: 20%;
  }

  .half {
    width: 85%;
  }

  .SecondPart {
    width: 100%;
  }

  .SecondPost, .ThirdPost {
    width: 90%;
  }
}
